cache/*
!cache/.ignore
config/databases.yml
log/*
!log/.ignore
web/uploads/*
data/sql
data/search/
lib/filter/doctrine/base/Base*
lib/form/doctrine/base/Base*
lib/model/doctrine/base/Base*
plugins/.*
nbproject/*
